body {
    background-color:lightslategray;
    color:whitesmoke;
    font-family:Verdana;
    letter-spacing:2px;
    font-weight:bold;
    margin-top:15px;
    margin-left:15px;
    margin-right:15px;
    padding-left:15px;
    
}
